<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm position-sticky">
        <div class="container-fluid">
            <a class="navbar-brand p-3" th:href="@{/api/v1/sensor/}">
                感應器監控
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/api/v1/sensor/}">
                            <i class="fas fa-home"></i> 首頁
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-cog"></i> 設定
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/api/v1/ai/}">
                            <i class="fas fa-question-circle"></i> AI小助手
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
