<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>尖峰時段分析</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://kit.fontawesome.com/63b39233d0.js" crossorigin="anonymous"></script>

  <style>
    .container-fluid {
      padding-left: 0 !important;
    }
  </style>
</head>
<body>
<div th:insert="header :: header"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div th:insert="sidebar :: sidebar"></div>
    </div>
    <div class="col-8 pt-5">
      <h1>尖峰時段分析</h1>
      <div>
        <label for="date" class="form-label">查詢日期</label>
        <input type="date" class="form-control" id="date" name="date">
        <button type="button" class="btn btn-primary mb-3 mt-3" onclick="getDataAndUpdateCharts()">
          查詢
        </button>
      </div>
      <canvas id="peakOffPeakAvgChart" width="400" height="100"></canvas>
      <canvas id="peakOffPeakSumChart" width="400" height="100"></canvas>
    </div>
  </div>
</div>

<script type="text/javascript">
  // 初始化圖表
  function initializeChart(ctx, type, label, backgroundColor, borderColor) {
    return new Chart(ctx, {
      type: type,
      data: {
        labels: ['V1', 'V5', 'V6', 'RH', 'TX', 'Echo', 'Rain_d', 'Speed'],
        datasets: [{
          label: label,
          data: [],
          backgroundColor: backgroundColor,
          borderColor: borderColor,
          borderWidth: 1
        }]
      }
    });
  }

  // 尖峰與離峰時間平均圖表
  const peakOffPeakAvgChart = initializeChart(
          document.getElementById('peakOffPeakAvgChart').getContext('2d'),
          'bar',
          '尖峰與離峰時段數據',
          ['rgba(255, 99, 132, 0.2)', 'rgba(54, 162, 235, 0.2)'],
          ['rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)']
  );

  // 尖峰與離峰時間加總圖表
  const peakOffPeakSumChart = initializeChart(
          document.getElementById('peakOffPeakSumChart').getContext('2d'),
          'bar',
          '尖峰與離峰時段加總數據',
          ['rgba(75, 192, 192, 0.2)', 'rgba(255, 159, 64, 0.2)'],
          ['rgba(75, 192, 192, 1)', 'rgba(255, 159, 64, 1)']
  );

  // 透過AJAX請求獲取數據並更新圖表
  function getDataAndUpdateCharts() {
    let dateTime = $('#date').val();

    $.ajax({
      url: '/api/v1/sensor/peak-analysis/data',
      type: 'GET',
      dataType: 'json',
      data: { date: dateTime },
      success: function(result) {
        updateChart(peakOffPeakAvgChart, result.peakAverageDTO);
        updateChart(peakOffPeakSumChart, result.peakSumDTO);
      },
      error: function(xhr, status, error) {
        console.log(error);
      }
    });
  }

  // 更新單個圖表的數據
  function updateChart(chart, data) {
    chart.data.datasets[0].data = [
      data.v1, data.v5, data.v6, data.rh, data.tx, data.echo, data.rain_d, data.speed
    ];
    chart.update();
  }

  $(document).ready(function() {
    // 初始化日期控件並查詢
    const today = new Date().toISOString().split('T')[0];
    $('#date').val(today);
    getDataAndUpdateCharts();
  });
</script>
</body>
</html>
