<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>資料表格</title>
</head>
<body>
<div th:fragment="sensorDataTable">

  <h2>查詢結果</h2>
  <p>查詢日期: <span th:text="${startDate} + ' ~ ' + ${endDate}"></span></p>
  <p>資料筆數: <span th:text="${sensorDataDTOList.size()}"></span></p>
  <p>查詢時段: <span th:text="${timePeriod}"></span></p>

  <table class="table table-header table-hover">
    <thead class="table-dark">
    <tr>
      <!-- 根據選擇的欄位動態顯示表頭 -->
      <th th:if="${columns.contains('v1') || columns.contains('All')}" th:text="'鋰電池電壓 (V1)'"></th>
      <th th:if="${columns.contains('v5') || columns.contains('All')}" th:text="'太陽能板1電壓 (V5)'"></th>
      <th th:if="${columns.contains('v6') || columns.contains('All')}" th:text="'太陽能板2電壓 (V6)'"></th>
      <th th:if="${columns.contains('tx') || columns.contains('All')}" th:text="'溫度 (TX)'"></th>
      <th th:if="${columns.contains('rh') || columns.contains('All')}" th:text="'濕度 (RH)'"></th>
      <th th:if="${columns.contains('echo') || columns.contains('All')}" th:text="'水位空高 (Echo)'"></th>
      <th th:if="${columns.contains('rain_d') || columns.contains('All')}" th:text="'雨量 (Rain_D)'"></th>
      <th th:if="${columns.contains('speed') || columns.contains('All')}" th:text="'表面流速 (Speed)'"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${sensorDataDTOList == null || sensorDataDTOList.isEmpty()}">
      <td colspan="9">查無資料</td>
    </tr>

    <tr th:if="${!columns.contains('All') }" th:each="value : ${sensorDataDTOList}">
      <td th:text="${value}"></td>
    </tr>

    <tr th:if="${ columns.contains('All') }" th:each="dataArray : ${sensorDataDTOList}">
      <td  th:text="${dataArray[0]}"></td>
      <td  th:text="${dataArray[1]}"></td>
      <td  th:text="${dataArray[2]}"></td>
      <td  th:text="${dataArray[3]}"></td>
      <td  th:text="${dataArray[4]}"></td>
      <td  th:text="${dataArray[5]}"></td>
      <td  th:text="${dataArray[6]}"></td>
      <td  th:text="${dataArray[7]}"></td>
    </tr>

    </tbody>
  </table>

  <a th:href="@{/api/v1/sensor/}" class="btn btn-primary">返回</a>
</div>
</body>
</html>
